/* styles.css */

body {
  background: linear-gradient(rgb(168, 10, 110), rgb(213, 120, 194));
}

h1 {
  color: blue;
}

img {
  height: 250px;
}

/* Стили для классов */
.first {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.second {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.free {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.possion {
  position: relative;
  cursor: pointer;
}

.possion2 {
  position: absolute;
  height: 50px;
  width: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  opacity: 0;
  cursor: pointer;
  display: inline;
  transition: none;
}

/* .text-info alert alert-danger,
badge rounded-pill alert alert-danger {
  padding-bottom: 0%;
  margin: 0%;
  margin-bottom: 0%;
} */
