/* styles.css */

body {
  background-color: powderblue;
}

h1 {
  color: blue;
}

.meow {
  color: red;
}

/* Стили для конкретных ID */
#first {
  margin: 2px;
}

/* Стили для классов */
.awesome {
  padding: 14px;
}

.First {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Second {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Free {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
img {
  height: 250px;
}
.Possion {
  position: relative;
}
.Possion2 {
  position: absolute;
  height: 50px;
  width: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}
